:root {
    --dark: #291720;
    --light: #d90368;
    --green: #04a777;
    --orange: #f75c03;
    --purple: #820263;
    --off-white: #ebebeb;
}

* {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background: var(--green);
    color: var(--off-white);
    border: 5px solid rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.5s all;
}

button:hover {
    background-color: var(--light);
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    color: var(--light);
}

#menu {
    display: flex;
    flex-direction: row;
}
